@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Trad:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+PL:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

/* navbar */
.nav {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.1rem;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--backgroundColor);
    z-index: 20;
}

.navShadow {
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}


.navigaror {
    font-size: 1.5rem;
    cursor: pointer;
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--headerColor);
    transition: all .5s ease-out;
}

.navigaror:hover {
    background-color: var(--hover);
}

/* search bar */
.searchBar {
    min-height: 2.8rem;
    width: 55%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: absolute;
    top: .6rem;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: var(--componentBG);
    overflow: hidden;
}

.inputBoxs {
    width: 100%;
    height: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--componentBG);
}


/* border for search bar */
.borderBottom {
    border-bottom: 1px solid #e0dcdc;
}

.searchBar label {
    height: 100%;
    width: 07%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: var(--headerColor);
}

.searchBar input {
    height: 100%;
    width: 90%;
    border: none;
    outline: none;
    font-size: 1.05rem;
    color: var(--headerColor);
    background-color: var(--componentBG);
}

.showSarchResult {
    width: 100%;
    max-height: 42vh;
    /*40vh*/
    background-color: var(--componentBG);
    overflow: auto;
}

.showSarchResult::-webkit-scrollbar {
    width: 0.5rem;
}

.showSarchResult::-webkit-scrollbar-track {
    background: var(--backgroundColor);
}

.showSarchResult::-webkit-scrollbar-thumb {
    background: var(--hover);
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
}

.showBox {
    width: 100%;
    height: 2.4rem;
    /* border: 1px solid black; */
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--paragraphColor);
    text-decoration: none;
}

.tellWhat{
    margin-left: 1rem;
    border: 1px solid var(--headerColor);
    border-radius: 5px;
    font-size: .8rem;
    padding: 4px 5px;
}

.showBox span {
    height: 100%;
    width: 07%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.selectedIn {
    background-color: var(--componentBGhover);
    transition: all .5s;
}

.showBox:hover {
    background-color: var(--componentBGhover);
    transition: all .5s ease-out;
    cursor: pointer;
}

.uesrNav {
    height: 2.4rem;
    width: 2.4rem;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    transition: all .5s ease-out;
}

.uesrNav:hover {
    scale: .8;
}

.uesrNav img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}



/* card profile */
.cardProfile {
    position: fixed;
    top: 4rem;
    right: 0;
    width: 20rem;
    min-height: 0;
    margin-right: 1rem;
    border-radius: 5px;
    background-color: var(--componentBG);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 0 .4rem;
    transition: all .5s;
}

.profileFirst {
    width: 100%;
    height: 14rem;
    border-bottom: 1px solid #e0dcdc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--paragraphColor);
}

.imageBoxProfile {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.imageBoxProfile img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.nameBox {
    font-size: 1.7rem;
    font-weight: 800;
    color: var(--headerColor);
}


.profileSecond {
    width: 100%;
    min-height: 30%;
    border-bottom: 1px solid #e0dcdc;
    margin: 5px 0 10px;
    padding-bottom: 5px;
}

.showDetails {
    width: 100%;
    height: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 0 1rem;
    text-decoration: none;
    color: var(--paragraphColor);
    /* margin: 5px 0; */
}

.showDetails:hover {
    background-color: var(--componentBGhover);
    transition: all .5s ease-out;
    cursor: pointer;
}

.showDetails span {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--headerColor);
}

.profileThird {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5px;
    border-bottom: 1px solid #e0dcdc;
    padding-bottom: 10px;
}

.profileThird a {
    border-radius: 50%;
    font-size: 1.8rem;
    color: var(--headerColor);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
}

.profileThird a:hover {
    background-color: var(--componentBGhover);
    transition: all .5s ease-out;
    cursor: pointer;
}

.namelastprofile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3rem;
    margin-bottom: 1rem;
    color: var(--paragraphColor);
}






/* side bar */
.sideNav {
    height: calc(100vh - 4rem);
    width: 18%;
    /*6*/
    background-color: var(--backgroundColor);
    border-right: 1px solid transparent;
    position: fixed;
    left: 0;
    top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 9;
    transition: all .4s ease-in;
    /* border: 1px solid black; */
    overflow-y: auto;
    overflow-x: hidden;
}

.sideNav::-webkit-scrollbar {
    width: 0.5rem;
}

.sideNav::-webkit-scrollbar-track {
    background: transparent;
}

.sideNav::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
}

.sideNav:hover::-webkit-scrollbar {
	width: 0.5rem;
}

.sideNav:hover::-webkit-scrollbar-thumb {
	background-color: var(--hover);
}

.sideTopjdd {
    width: 100%;
    height: 33rem;
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    margin-bottom: 1rem;
}

.sideTopjddSmall {
    /* border: 1px solid blue; */
    height: 25rem;
}

.sideNavBorderRight {
    border-right: 1px solid var(--hover);
}

.sideProfile {
    width: 100%;
    height: 13rem;
    /*35*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid black; */
}

.profileImage {
    height: 6.5rem;
    width: 6.5rem;
    border-radius: 50%;
    overflow: hidden;
    transition: all .5s;
    cursor: pointer;
    /* margin-top: .6rem; */
}

.profileImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sideProfile p {
    line-height: .1rem;
    color: var(--headerColor);
    transition: all .5s;
}

.nameSide {
    font-weight: 800;
    font-size: 1.5rem;
}

.sidebuttons {
    width: 100%;
    min-height: 1rem;
    padding: .5rem 0;
    /* border: 1px solid blue; */
}

.navigator {
    height: 2.7rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 3rem;
    gap: 1.5rem;
    text-decoration: none;
    color: var(--headerColor);
    position: relative;
    transition: all .5s;
}

/* isactive */
[aria-current="page"] {
    background-color: var(--hover);
}

[aria-current="page"]::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: .5rem;
    background-color: var(--smallColor);
}

.currentPageSidebar {
    background-color: var(--hover);
}

.currentPageSidebar::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: .5rem;
    background-color: var(--smallColor);
}

.navigator:hover {
    background-color: var(--hover);
    transition: all .5s ease-out;
}

.navigator span {
    font-size: 15px;
    font-weight: 500;
    transition: all .5s ease-out;
}

.setting {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid green; */
    margin-bottom: 1.5rem;
}

.settingnavigator {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.settingnavigator .settingClass {
    font-size: 1.4rem;
    color: var(--headerColor);
    display: flex;
    align-items: center;
    justify-content: center;
}



/* small Navbar */

.sideNavSmall {
    width: 6% !important;
}

.sideProfileSmall {
    height: 20% !important;
    flex-direction: row !important;
    justify-content: center !important;
}

.profileImageSmall {
    height: 3rem !important;
    width: 3rem !important;
    cursor: pointer;
}

.sidebuttonsSmall {
    padding: 0 !important;
}

.navigatorSmall {
    justify-content: center !important;
    padding-left: 0 !important;
}

/* settingSmall */

.settingnavigatorSmall {
    padding: 0 !important;
    justify-content: center !important;
}

.mainContainer {
    min-height: calc(100vh - 4rem);
    width: 82%;
    background-color: var(--backgroundColor);
    position: absolute;
    right: 0;
    top: 4rem;
    transition: all .5s;
    padding: 1rem 2rem 1.5rem 2rem;
}

.mainContainerSmall {
    width: 94% !important;
}



/* blur Background */
.blur {
    height: 100vh;
    width: 100%;
    background-color: var(--blur);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* error */
.error {
    width: 100%;
    height: 100vh;
    background-color: var(--backgroundColor);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.error h1 {
    height: 4rem;
    padding: 1rem;
    border-right: 3px solid var(--hover);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* modal */
.modarContainer {
    height: 85vh;
    width: 62%;
    background-color: var(--backgroundColor);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    overflow: hidden;
}

.controlsSetting {
    width: 100%;
    height: 3.5rem;
    position: sticky;
    left: 0;
    top: 0;
    /* border: 1px solid black; */
    background-color: var(--backgroundColor);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--headerColor);
    padding: 0 1.5rem;
    border-bottom: 1px solid var(--hover);
}

.controlsSetting div {
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* border: 1px solid black; */
    border-radius: 50%;
    transition: all .3s ease-in-out;
}

.controlsSetting h2 {
    font-size: 20px;
}

.controlsSetting div:hover {
    background-color: red;
    color: #fff;
}

.children {
    width: 100%;
    height: 90%;
    padding: 1.5rem 1rem;
    /* border: 1px solid black; */
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: .4rem;
    /* column-gap: 2.4rem; */
}

.childrenNew{
    width: 100%;
    height: 90%;
    padding: 1.5rem 1rem;
    /* border: 1px solid black; */
    /* overflow: auto; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: .4rem;
}

.childrenNew img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.children::-webkit-scrollbar {
    width: 0.5rem;
}

.children::-webkit-scrollbar-track {
    background: var(--backgroundColor);
}

.children::-webkit-scrollbar-thumb {
    background: var(--hover);
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
}

.modesClass {
    width: 24rem;
    height: 14rem;
    /* border: 1px solid #000; */
    border-radius: 5px;
    padding: 1rem;
    position: relative;
    cursor: pointer;
}

.borderBlue {
    border: 2px solid var(--smallColor);
    background-color: var(--hover);
}

.modesClass:hover {
    background-color: var(--hover);
}

.allmods {
    height: 100%;
    width: 100%;
    /* border: 1px solid black; */
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.nameShow {
    position: absolute;
    left: 0;
    bottom: 0;
    /* border: 1px solid black; */
    font-size: 18px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: var(--hover);
    padding: 8px 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: var(--headerColor);
    border: 2px solid var(--hover);
}

.navLite {
    width: 90%;
    height: 6%;
    margin-top: 10px;
    border-radius: 10px;
}

.sidebarLite {
    height: 85%;
    width: 20%;
    /* background-color: blue; */
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .6rem 0;
}

.circle {
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}


.bocks {
    width: 60%;
    height: .3rem;
    border-radius: 5px;
    margin: 5px 0;
}

.bocks:last-child {
    margin-top: 1.4rem;
}

.containerLite {
    width: 80%;
    height: 85%;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5px;
}

.boxLite {
    width: 43%;
    height: 40%;
    border-radius: 5px;
}

/* lite clasess */
/* light */
.LiteLi {
    background-color: #fff;
}

.LiteMe {
    background-color: #EFEFEF;
}

/* blue */
.BlueLi {
    background-color: #a3cef1;
}

.BlueMe {
    background-color: #6096ba;
}

/* dark */
.DarkMe {
    background-color: #0f0f0f;
}

.DarkLi {
    background-color: #d5ccc7;
}

/* dark L */
.LL1 {
    background-color: #463f3a;
}

.LL2 {
    background-color: #bcb8b1;
}

/* dark M */
.LM1 {
    background-color: #2e3440;
}

.LM2 {
    background-color: #4c566a;
}

/* dark H */
.LH1 {
    background-color: #121420;
}

.LH2 {
    background-color: #2c2b3c;
}



/* fonts */
.fonts {
    width: 80%;
    height: 3rem;
    /* border: 1px solid black; */
    margin-bottom: 1rem;
    position: relative;
    border-radius: 5px;
    background-color: var(--componentBG);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    color: var(--headerColor);
    cursor: pointer;
    border: 1px solid transparent;
    /* top: 1.5rem; */
    transition: .5s;
    font-size: 20px;
}

.fonts span {
    position: absolute;
    right: 1.5rem;
}

.fonts:hover {
    border: 1px solid var(--smallColor);
}

.showFonts {
    width: 100%;
    min-height: 0;
    position: absolute;
    left: 0;
    top: 3rem;
    /* border: 1px solid black; */
    z-index: 9;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: .5s;
}

.showResult {
    width: 100%;
    height: 2.8rem;
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    background-color: var(--componentBG);
    color: var(--headerColor);
}

.fontsActive {
    background-color: var(--componentBGhover);
}

.showResult:hover {
    background-color: var(--componentBGhover);
    cursor: pointer;
}



/* pages */
/* home page */
.home {
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 2rem;
    color: var(--paragraphColor);
}

.boxShadows {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-color: var(--componentBG);
}

.boxes {
    height: 18rem;
    width: 45%;
    border-radius: 5px;
}

.inside {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.insideBox {
    height: 45%;
    width: 47%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    transition: all .5s ease-out;
    /* gap: 10px; */
}

.insideBox:hover {
    scale: 1.1;
    cursor: pointer;
}

.bigName {
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--headerColor);
}

.bigName2 {
    font-size: 2.1rem;
    font-weight: 500;
    letter-spacing: -1px;
}

.clientBox {
    height: 18rem;
    width: 80%;
    border-radius: 5px;
    background-color: var(--componentBG);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 1.2rem;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

.clientImg {
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    overflow: hidden;
}

.clientImg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.clientWrite {
    width: 65%;
    padding-top: 2rem;
    font-size: 1.1rem;
    position: relative;
}

.clientWrite p {
    padding: 1rem 0;
    text-align: left;
}

.clientWrite h2 {
    text-align: right;
    color: var(--headerColor);

}

.clientWrite h5 {
    text-align: right;
}

.summary {
    padding: 1rem 1.4rem;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: auto;
}

.summary h2 {
    font-size: 1.8rem;
    color: var(--headerColor);
}

.summary p {
    font-size: 1.2rem;
}



/* swiper js */
.swiperClass {
    width: 98%;
    height: 22rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.titleClient {
    width: 30%;
    text-align: center;
    padding: 1rem;
    border-radius: 5px;
    color: var(--headerColor);
}

.swiper {
    width: 100% !important;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: var(--backgroundColor);
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    cursor: grab;
}





/* skills */
.skills {
    /* border: 1px solid black; */
    padding: 3rem 10rem ;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 2.5rem;
}

.titleSkill {
    width: 100%;
    color: var(--headerColor);
}

.skillBox {
    height: 10rem;
    width: 10rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .2rem;
    color: var(--headerColor);
    background-color: var(--componentBG);
    text-decoration: none;
    transition: all .5s ease-out;
    position: relative;
    text-align: center;
}

.skillBox .goOutSide {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 1.4rem;
}

.skillBox:hover {
    cursor: pointer;
    scale: 1.1;
}

.skillBox span {
    font-size: 2.5rem;
}

.skillBox p {
    font-size: 1.2rem;
    color: var(--paragraphColor);
}

/* showSkill */

.showSkill {
    /* border: 1px solid black; */
    padding: 1rem 2rem;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 3rem;
}

.showmain {
    width: 65%;
    min-height: 67vh;
    /* border: 1px solid black; */
    padding-left: 1rem;
}

.chartRow {
    width: 100%;
    min-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    color: var(--headerColor);
    /* border: 1px solid black; */
}

.boxChartBox {
    width: 80%;
    min-height: 0;
    border-radius: 5px;
    padding: 1.2rem 1.5rem;
    padding-bottom: 2rem;
}

.titleChartBox {
    width: 100%;
    height: 3rem;
    font-size: 1.4rem;
    color: var(--headerColor);
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 10px;
}

.titleChartBox span {
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainChart {
    width: 100%;
    /* border: 1px solid black; */
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backRow {
    width: 100%;
    /* border: 1px solid ; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 2rem;
    /* padding: 0 1rem; */
}

.dsjdh {
    padding: 0 1rem;
}

.back {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3rem;
    height: 3rem !important;
    background-color: var(--componentBG) !important;
    border: 1px solid var(--componentBGhover) !important;
    /* gap: 5px; */
}

.back:hover {
    background-color: var(--componentBGhover) !important;
    border: 1px solid var(--componentBG) !important;
}

.back span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.learnForm {
    width: 100%;
    min-height: 10rem;
    /* border: 1px solid black; */
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.learnForm p {
    width: 100%;
    font-size: 1.4rem;
    color: var(--headerColor);
}

.certifickteRow {
    width: 100%;
    min-height: 10rem;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.certifickteRow p {
    font-size: 1.4rem;
    width: 100%;
    margin-bottom: 2rem;
    color: var(--headerColor);
}

.mainShowCertifickets {
    width: 85%;
}

.showSkillWithProject {
    width: 100%;
    min-height: 10rem;
    padding: 0 1rem;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.showSkillWithProject p {
    font-size: 1.4rem;
    width: 100%;
    color: var(--headerColor);
    margin-bottom: 2rem;
}

.mainshowproject {
    /* border: 1px solid black; */
    width: 80%;
    min-height: 10rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.showSkillClassSk {
    width: 100% !important;
}

.showsuggason {
    width: 35%;
    min-height: 0;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    gap: 1.5rem;
    padding-top: 1rem;
}

.showsuggason h1 {
    width: 100%;
    color: var(--headerColor);
}

/* projects */
.projects {
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem 3rem;
}

.projectShowAll{
    columns: 2;
    gap: 1.8rem;
    padding: 0 .3rem;
    width: 100%;
    min-height: 0;
}

.marginBottom{
    margin-bottom: 1.8rem;
}

.project {
    min-height: 20rem;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow: hidden;
    border-radius: 5px;
    text-decoration: none;
    transition: all .3s ease-out;
    position: relative;
}

.project:hover {
    scale: 1.06;
    cursor: pointer;

}

.iconGoo {
    min-height: 2rem;
    width: 4rem;
    position: absolute;
    right: 0;
    top: 0;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin: .8rem .5rem;
}

.iconGooSmall{
    min-height: 2rem;
    width: 4rem;
    position: absolute;
    right: 0;
    top: 0;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin: .6rem .3rem;
}

.forthisNew{
    width: 3rem;
    height: 2rem;
    border-radius: 5px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--smallColor);
    color: #fff;
}

.forthisNewSmall{
    width: 2.8rem;
    height: 1.8rem;
    border-radius: 5px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--smallColor);
    color: #fff;
    font-size: .9rem;
}

.forCerti{
    color: var(--smallColor);
    font-size: 2.6rem;
}

.forCertiSmall{
    color: var(--smallColor);
    font-size: 2.3rem;
}

.videoShow {
    width: 100%;
    min-height: 0;
    /* border: 1px solid black; */
}

.videoShow video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.videoShow img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.skillsShow {
    width: 100%;
    min-height: 15%;
    border-top: 1px solid var(--hover);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: .7rem;
    justify-content: flex-start;
    gap: .4rem;
}

.skillShowP {
    /* border: 1px solid black; */
    padding: .4rem .8rem;
    border-radius: 5px;
    background-color: var(--componentBGhover);
    color: var(--headerColor);
}

.linkShow {
    width: 100%;
    height: 15%;
    /* border: 1px solid black; */
    padding: 0 1rem .7rem;
    text-decoration: none;
    color: var(--headerColor);
    display: flex;
    align-items: center;
    gap: 10px;
}

.linkShow span {
    font-size: 1.5rem;
}

/* shoeProject */
.showProject {
    /* border: 1px solid black; */
    padding: 1rem 1rem 1rem 2rem;
    display: flex;
    flex-wrap: wrap;
}

.col-first-project {
    width: 70%;
    min-height: 10vh;
    /* border: 1px solid black; */
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    align-content: flex-start;
}

.title-video {
    width: 100%;
    /* border: 1px solid black; */
}

.title-video p {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    color: var(--headerColor);
    /* font-weight: 800; */
}

.video-project-box {
    width: 100%;
    min-height: 0;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.video-box {
    width: 100%;
    min-height: 0;
    /* border: 1px solid black; */
}

.video-box video,
img {
    width: 100%;
    min-height: 0;
    object-fit: cover;
    border-radius: 5px;
}

.peragraph-video {
    width: 100%;
    min-height: 0;
    display: flex;
    padding-left: 1rem;
    margin-bottom: .5rem;
}

.peragraph-video p {
    min-width: 0;
    min-height: 0;
    padding: 1rem 0;
    border-radius: 5px;
    font-size: 1.4rem;
    color: var(--headerColor);
}

.buttons-shows {
    width: 100%;
    min-height: 0;
    padding-left: 1rem;
    margin-bottom: 1.5rem;
    /* border: 1px solid black; */
}

.linkS {
    gap: 10px;
    display: flex;
    align-items: center;
    padding: 1rem !important;
    margin-right: 1rem !important;
}

.linkS span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.current-skills {
    width: 100%;
    min-height: 0;
    /* border: 1px solid black; */
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    margin-bottom: 1.5rem;
}

.current-skills p {
    width: 100%;
    min-height: 0;
    font-size: 1.4rem;
    color: var(--headerColor);
    margin-bottom: 1rem;
}

.show-project-skill {
    width: 95%;
    min-height: 0;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: .5rem;
}

.skillShowPro {
    padding: .5rem 1rem;
    /* border: 1px solid black; */
    min-width: 0;
    min-height: 0;
    border-radius: 5px;
    font-size: 1rem;
    background-color: var(--hover);
    color: var(--headerColor);
}

.chart-for-allSkill {
    width: 100%;
    min-height: 0;
    /* border: 1px solid black; */
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    margin-bottom: 1.5rem;
}

.chart-for-allSkill p {
    width: 100%;
    font-size: 1.4rem;
    color: var(--headerColor);
    margin-bottom: 1rem;
}

.skillUseChart {
    width: 90%;
    /* border: 1px solid black; */
    height: 25rem;
    padding: 1.5rem 3rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.this-skills {
    width: 100%;
    min-height: 0;
    /* border: 1px solid black; */
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.this-skills p {
    font-size: 1.4rem;
    color: var(--headerColor);
    margin-bottom: 1rem;
    width: 100%;
}

.show-skills-chart {
    width: 95%;
    min-height: 0;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.col-second-project {
    width: 30%;
    min-height: 10vh;
    /* border: 1px solid black; */
    padding: 0 1rem;
}

.col-second-project h1 {
    margin-bottom: 1rem;
    color: var(--headerColor);
}

.containAllProject {
    width: 100%;
    min-height: 10vh;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    row-gap: 1.5rem;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
}

.side-box-project {
    width: 100%;
    min-height: 1rem;
    /* border: 1px solid black; */
    text-decoration: none;
    color: var(--headerColor);
    border-radius: 5px;
    overflow: hidden;
    transition: all .2s;
    position: relative;
}

.side-box-project:hover {
    scale: 1.05;
}

.side-box-project video,
img {
    width: 100%;
    min-height: 0;
    object-fit: cover;
}

.perProject {
    display: flex;
    padding: .8rem 1rem;
    align-items: center;
    justify-content: space-between;
}

.perProject span {
    font-size: 1.3rem;
}

/* about page */
.about {
    padding: 1rem 2rem 2rem 4rem
}

.titleAbout {
    margin: 2rem;
    font-size: 2rem;
    color: var(--headerColor);
}

.col header.title {
    color: var(--headerColor);
    padding: 0px 0px 20px 30px;
}

.col .contents {
    padding: 0px 30px;
    border-left: 2px solid #bababa;
}

.col .contents .box {
    position: relative;
    padding: 1.5rem;
    background-color: var(--componentBG);
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 2rem;
    /* box-shadow: 0px 3px 12px 0px #ccc; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 5px;
}

.col .contents .box:hover {
    scale: 1.02;
}

.col .contents .box::before {
    content: '';
    position: absolute;
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    right: calc(100% + 22px);
    top: 0;
    background-color: var(--smallColor);
    border: 2px solid var(--hover);
}

.box h4 {
    position: relative;
    color: var(--headerColor);
}

.box h1 {
    padding: 10px 0px 6px;
    color: var(--headerColor);
}

.box p {
    font-size: 1.1rem;
    color: var(--paragraphColor);
}

.linkTag {
    display: block;
    /* border: 1px solid black; */
    margin-top: .5rem;
    font-size: 1.3rem;
    color: var(--headerColor);
    text-decoration: none;
    text-align: right;
    margin-right: 1rem;
    font-weight: 600;
}

/* about component */
.AboutComAA {
    width: 100%;
    min-height: 10vh;
    /* border: 1px solid black; */
    border-radius: 5px;
    padding: 1.5rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* gap: 1rem; */
}

.firstAb {
    width: 25%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imgClassAb {
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    overflow: hidden;
}

.imgClassAb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .2s;
    cursor: pointer;
}

.imgClassAb img:hover {
    scale: 1.05;
}

.peraAB {
    width: 72%;
    height: 100%;
    /* border: 1px solid red; */
}

.peragraph8 {
    margin-bottom: .3rem;
    color: var(--paragraphColor);
}

.hobbies {
    margin-top: 1rem;
}

.boxAbout {
    /* border: 1px solid black; */
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}

.boxAbout h2 {
    width: 100%;
    color: var(--headerColor);
}

.boxAbout p {
    border: 2px solid var(--componentBGhover);
    border-radius: 5px;
    margin: 5px;
    padding: 5px 8px;
    color: var(--paragraphColor);
}

.buttonClassAb {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
}

/* buttons */
.button-60 {
    align-items: center;
    appearance: none;
    background-color: var(--componentBGhover);
    border: none;
    border-radius: .375em;
    box-shadow: none;
    /* box-sizing: border-box; */
    color: var(--headerColor);
    cursor: pointer;
    display: inline-flex;
    /* font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-size: 1rem;
    height: 2.5em;
    justify-content: center;
    line-height: 1.5;
    padding: calc(.5em - 1px) 1em;
    position: relative;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
    text-decoration: none;
    transition: all .2s;
    border: 1px solid transparent;
}

.button-60:hover {
    background: var(--componentBG);
    border: 1px solid var(--componentBGhover);
}




/* CertificateCom */

.certificateShow {
    padding: 0;
}

.certificate {
    columns: 2;
    gap: 1.8rem;
    padding: 1.5rem 3.5rem 2.5rem;
    width: 100%;
    min-height: 0;
}

.certiti {
    /* border: 1px solid black; */
    margin-top: 1rem;
    padding-left: 3rem;
}

.CertificateComClass {
    width: 100%;
    min-height: 1rem;
    display: flex;
    flex-wrap: wrap;
    transition: all .3s;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 1.8rem;
    text-decoration: none;
    /* border: 1px solid red; */
}

.CertificateComClass:hover {
    scale: 1.05;
}

.imageCerti {
    width: 100%;
    min-height: 1rem;
}

.imageCerti img {
    width: 100%;
}

.linkCerti {
    width: 100%;
    text-decoration: none;
    color: var(--headerColor);
    font-size: 1.3rem;
    padding: .8rem 1rem;
}



/* contact */
.contact {
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.showGIF {
    width: 40%;
    min-height: 10px;
    /* border: 1px solid black; */
}

.showGIF img {
    width: 100%;
    height: 100%;
}

.inputContact {
    width: 55%;
    min-height: 10px;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1.5rem;
    border-radius: 5px;
}

.firstRow {
    width: 100%;
    height: 3rem;
    font-size: 1.3rem;
    padding: 0 .5rem;
    border: 2px solid var(--componentBGhover);
    background-color: var(--componentBG);
    color: var(--paragraphColor);
    outline: none;
    border-radius: 5px;
}

.lastRow {
    width: 100%;
    height: 8rem;
    font-size: 1.3rem;
    padding: .5rem;
    border: 2px solid var(--componentBGhover);
    background-color: var(--componentBG);
    color: var(--paragraphColor);
    outline: none;
    resize: none;
    border-radius: 5px;
}

.contactButton {
    font-size: 1.1rem;
    display: flex;
    gap: 10px;
}

.contactButton img {
    width: 120%;
    height: 120%;
    object-fit: cover;
}

/* back to top */
.back-to-top {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    z-index: 10;
}

.back-to-top button {
    /* padding: 10px 20px; */
    height: 3rem;
    width: 3rem;
    font-size: 16px;
    background-color: var(--smallColor);
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all .2s;
}

.back-to-top button:hover {
    background-color: transparent;
    border: 1px solid var(--smallColor);
    color: var(--headerColor);
}

.searchIcon {
    display: none;
}

/* .error */
.errorNext {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--componentBG);
    z-index: 9999999;
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.errorNext p {
    color: var(--headerColor);
    font-size: 1.5rem;
}

.pogisan {
    position: fixed;
    left: 5rem;
    top: 5rem;
}

/* video show .certificate */
.certifickteRowProject {
    /* border: 1px solid black; */
    width: 100%;
    min-height: 0;
    margin: 1.5rem 0;
    padding: 0 1rem;
}

.certifickteRowProject p {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    color: var(--headerColor);
}

.mainShowCertificketsProject {
    /* border: 1px solid black; */
    padding: 0 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.isisCertified {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: var(--smallColor);
    font-size: 2rem;
}

/* showCertificate */
.showCertificate {
    /* border: 1px solid black; */
    padding: 1rem 2rem 1rem 2rem;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center;
    justify-content: center; */
}

.certifi-col1 {
    width: 70%;
    min-height: 1rem;
    /* padding: 0 1rem; */
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}

.boxCerHH {
    /* border: 1px solid black; */
    width: 93%;
    padding: .8rem 1rem;
    border-radius: 5px;
}

.titleCerNN {
    /* border: 1px solid black; */
    font-size: 1.3rem;
    margin-bottom: 1rem;
    color: var(--headerColor);
}

.GotFrom {
    /* border: 1px solid black; */
    width: 100%;
    padding: 0rem 1.5rem;
    margin: 1rem 0;
}

.GotFrom p {
    font-size: 1.3rem;
    color: var(--headerColor);
}

.showButtonCer {
    /* border: 1px solid black; */
    width: 100%;
    padding-left: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.cer span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.summaryCer {
    width: 100%;
    padding: 0 1.5rem;
    min-height: 0;
    margin: 1rem 0;
    font-size: 1.2rem;
    color: var(--paragraphColor);
}

.summaryCer p {
    color: var(--headerColor);
    font-size: 1.6rem;
    /* font-weight: 800; */
    margin-bottom: .5rem;
}

.ifSkill {
    width: 100%;
    min-height: 0;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

.showProCerhdj {
    width: 100%;
    min-height: 0;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.ifProject {
    width: 100%;
    min-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    margin: 1rem 0;
}

.certiCladjhjh {
    width: 80%;
}

.certifi-col2 {
    width: 30%;
    min-height: 1rem;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
    /* padding: 0 10px; */
}

.showTitleCer {
    width: 100%;
    min-height: 0;
    color: var(--headerColor);
    margin-bottom: 1rem;
}

.showAnother {
    width: 100%;
    min-height: 0;
    padding: 0 10px;
    /* font-size: 1.1rem !important; */
}

.font1_1 {
    font-size: 1.1rem;
    padding: .7rem 1rem 1rem 1rem;
}


.button-66 {
    color: var(--headerColor);
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1rem;
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    gap: .5rem;
    background-color: var(--componentBG);
    border: 1px solid var(--componentBGhover);
    transition: all .3s;
}

.button-66 span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
}

.button-66:hover {
    background-color: var(--componentBGhover);
    border: 1px solid var(--componentBG);
}

/* search result */
.searchResult{
    /* border: 1px solid black; */
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem 3rem;
    padding-bottom: 3rem;
}

.titleSearch{
    width: 100%;
    font-size: 1.5rem;
    /* border: 1px solid black; */
    color: var(--headerColor);
    margin-bottom: .5rem;
    margin-top: .2rem;
}

.showSearchResult{
    columns: 2;
    gap: 1.8rem;
    padding: 0;
    width: 100%;
    min-height: 0;
}

.colum1{
    columns: 1;
}

.width100{
    width: 100%;
    margin-bottom: 1.8rem;
}

.forSkill{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.min-height{
    min-height: 18rem !important;
    height: inherit;
    padding: 1rem;
}

.min-height h2{
    color: var(--headerColor);
    margin-bottom: 1rem;
}

.width100N{
    width: 100%;
}

.margin0{
    margin-bottom: 0;
}

.ulFix{
    padding-left: 1.5rem;
}