@media only screen and (max-width: 1050px) {

    /* navbar */

    .searchBar {
        width: 65%;
    }

    .searchBar label {
        width: 10%;
    }

    .searchBar input {
        width: 87%;
    }

    .showBox span {
        width: 10%;
    }

    /* sidebar */
    .sideNavSmall {
        width: 12% !important;
    }

    /* home */
    .mainContainerSmall {
        width: 88% !important;
    }

    .mainContainer {
        padding: 0;
        padding-top: 1rem;
    }

    .boxes {
        height: 15rem;
        width: 44%;
    }

    .bigName {
        font-size: 1.6rem;
    }

    .summary p {
        font-size: 1rem;
    }

    .summary h2 {
        font-size: 1.6rem;
    }

    .titleClient h1 {
        font-size: 1.8rem;
    }

    /* swiper card */
    .swiperClass {
        width: 98%;
        height: 18rem;
    }

    .clientBox {
        height: 14rem;
        width: 83%;
    }

    .clientImg {
        height: 8rem;
        width: 8rem;
    }

    .clientWrite p {
        font-size: 1rem;
    }

    .clientWrite h2 {
        font-size: 1.5rem;
    }

    /* about page */
    .about {
        padding: 1rem;
    }

    .AboutComAA {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }

    .firstAb {
        width: 50%;
        margin-top: .5rem;
    }

    .peraAB {
        width: 98%;
    }

    .col .contents {
        padding: 0 5px 0 30px;
    }

    /* skill */
    .skills {
        padding: 1rem 2rem;
    }

    .titleSkill {
        font-size: 1.8rem;
    }

    .skillBox {
        height: 8rem;
        width: 8rem;
    }

    .skillBox p {
        font-size: 1rem;
    }


    /* show all skills */
    .showmain {
        width: 100%;
        padding: 0 2rem;
    }

    .showsuggason {
        width: 100%;
        margin: 1.5rem 0;
        padding: 0 1.5rem;
    }

    .boxChartBox {
        width: 90%;
    }

    .mainshowproject {
        width: 100%;
    }

    .titleChartBox {
        height: 2rem;
        margin-bottom: 0;
    }

    .mainShowCertifickets {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mainShowCertifickets .CertificateComClass {
        width: 95%;
    }

    .showSkillWithProject p {
        margin: 2rem 0;
    }

    .showSkill {
        padding: 1rem 2rem;
    }

    .project {
        width: 95% !important;
    }

    /* projects */
    .projects {
        padding: 1rem 2rem;
    }

    .project:hover {
        scale: 1;
    }

    .project {
        width: 100%;
    }

    /* certificate  */
    .certificate {
        padding: 1rem 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.8rem;
    }

    .CertificateComClass {
        width: 90%;
        margin: 0;
    }

    /* contact */

    .contact {
        padding: 2rem;
        flex-direction: column;
    }

    .inputContact {
        width: 70%;
    }

    /* theme */
    .modarContainer {
        width: 85%;
    }

    .searchIcon {
        display: none;
    }

    .bottomBar {
        display: none;
    }

    /* video page */
    .showProject {
        padding: 1.5rem;
    }

    .col-first-project {
        width: 100%;
    }

    .containAllProject {
        padding: 0 1rem;
        row-gap: 2rem;
    }

    .col-second-project h1 {
        margin-bottom: 1.5rem;
    }

    .perProject {
        padding: .5rem 1rem;
        font-size: 1.5rem;
    }

    .back {
        margin-bottom: .8rem;
    }

    .SB {
        margin-left: 1rem !important;
        margin-bottom: 1.5rem;
    }

    .title-video p {
        font-size: 1.2rem;
    }

    .backRow {
        margin-bottom: 0;
    }

    .video-project-box {
        padding: .8rem;
        margin-bottom: 0;
        margin-top: 1rem;
    }

    .col-second-project {
        width: 100%;
        margin-top: 2rem;
        padding: 0 2rem;
    }

    .buttons-shows {
        margin-bottom: 0;
    }

    .skillUseChart {
        min-height: 5rem;
    }

    .skillUseChart {
        padding: 5rem;
    }

    .isisCertified {
        top: .8rem;
        left: .5rem;
        font-size: 1.8rem;
    }

    .showAnother {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        gap: 1.5rem;
        padding: 0;
    }

    .boxCerHH {
        margin-top: 1rem;
    }

    .showCertificate {
        /* border: 1px solid black; */
        padding: 1rem;
    }

    .ifProject {
        width: 90%;
    }

    .font1_1 {
        font-size: 1.5rem;
        padding: 10px 15px;
    }

    .certifi-col1 {
        width: 100%;
    }

    .certifi-col2 {
        width: 100%;
        margin-top: 1rem;
        padding: 0 1rem;
    }

}

@media only screen and (max-width: 500px) {

    /* navbar */
    .navShadow {
        box-shadow: none;
        background-color: transparent;
    }

    .nav {
        justify-content: flex-end;
        gap: 5px;
        background-color: transparent;
        height: 9vh;
    }

    .searchBar {
        width: 95%;
    }

    .showSarchResult {
        max-height: none;
        height: 90vh;
    }

    .searchIcon {
        height: 6vh;
        width: 6vh;
        border-radius: 50%;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--componentBG);
        border: 1px solid var(--componentBGhover);
        color: var(--headerColor);
        /* border: 1px solid black; */
    }

    /* home */
    .sideNavSmall {
        display: none;
    }

    .mainContainerSmall {
        width: 100% !important;
    }

    .mainContainer {
        top: 9vh;
    }

    .home {
        padding: .5rem;
        padding-top: 0;
        flex-direction: column;
        gap: 1rem;
    }

    .boxes {
        width: 90%;
    }

    .titleClient {
        width: 60%;
    }

    .titleClient h1 {
        font-size: 1.5rem;
    }

    .swiperClass {
        height: 28rem;
        width: 100%;
    }

    .clientBox {
        height: 24rem;
        width: 83%;
        flex-direction: column;
    }

    .clientWrite {
        width: 90%;
        padding-top: 0;
        font-size: 1.1rem;
        position: relative;
    }

    /* about */
    .about {
        padding-top: 0;
    }

    .firstAb {
        width: 80%;
    }

    .titleAbout {
        margin: 1rem;
    }

    /* skills */
    .skills {
        padding: 1rem;
        padding-top: 0;
        gap: 1.5rem;
    }

    .titleSkill {
        font-size: 1.5rem;
    }

    /* show .skills */

    .showmain {
        width: 100%;
        padding: 0;
    }

    .showsuggason {
        width: 100%;
        margin-top: 2rem;
    }

    .backRow {
        padding-left: 0;
        margin-bottom: 0;
    }

    .showSkillWithProject p {
        margin: 1rem 0;
    }

    .mainChart {
        height: 23rem;
    }

    .showsuggason h1 {
        margin-left: 1rem;
    }

    .certifickteRow {
        margin-bottom: 1rem;
    }

    /* projects */
    .projects {
        padding: 1rem;
        padding-top: 0;
        gap: 1rem;
    }

    .project {
        width: 100% !important;
    }

    /* .certificate */

    .certificateShow {
        padding: 0;
    }

    .certiti {
        padding-left: 1rem;
        margin-bottom: 1rem;
    }

    .certificate {
        padding: 1rem;
        padding-top: 0;
        align-content: flex-start;
        gap: 1rem;
    }

    .CertificateComClass {
        width: 100% !important;
    }

    /* contact us */
    .contact {
        padding: 1rem;
        padding-top: 0;
    }

    .showGIF {
        width: 100%;
    }

    .inputContact {
        width: 100%;
    }

    /* theme */
    .modarContainer {
        width: 95%;
        height: 90vh;
    }

    .fonts {
        width: 100%;
    }

    .showResult {
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .back-to-top {
        bottom: 6.5rem;
        right: 2.2rem;
    }

    /* bottom bar */
    .bottomBar {
        width: 100%;
        min-height: 0;
        background-color: var(--componentBG);
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 11;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 1rem;
        border-top: 1px solid var(--componentBGhover);
    }

    .bottomBox {
        width: 5rem;
        height: 4rem;
        border: 2px solid var(--componentBGhover);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* margin: 0 5px; */
        text-decoration: none;
        padding: 5px;
        line-height: 1.1;
    }

    .croseBottom {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        color: var(--headerColor);
    }

    .bottomBox .bottomF {
        font-size: 1.5rem;
        color: var(--headerColor);
    }

    .bottomBox span {
        color: var(--headerColor);
        text-align: center;
        font-size: .8rem;
        color: var(--paragraphColor);
    }

    [aria-current="page"] {
        border: 2px solid var(--smallColor);
        background-color: transparent;
    }

    [aria-current="page"]::before {
        content: "";
        position: static;
        left: 0;
        top: 0;
        height: 0;
        width: 0;
        background-color: transparent;
    }

    .currentPageSidebar {
        border: 2px solid var(--smallColor);
        background-color: transparent;
    }

    .currentPageSidebar::before {
        content: "";
        position: static;
        left: 0;
        top: 0;
        height: 0;
        width: 0;
        background-color: transparent;
    }

    .menu {
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        bottom: 2rem;
        right: 2rem;
        z-index: 8;
        color: var(--headerColor);
        border: 1px solid var(--componentBGhover);
        font-size: 1.5rem;
    }

    .pogisan {
        top: 3rem;
        left: 3rem;
    }

    /* video page */
    .col-first-project {
        width: 100%;
    }

    .skillUseChart {
        width: 100%;
        min-height: 23rem;
        padding: 1.5rem;
        padding-bottom: 2rem;
    }

    .col-second-project {
        width: 100%;
        margin: 2rem 0;
        padding: 0 1rem;
    }

    .containAllProject {
        padding: 0;
    }

    .peragraph-video {
        padding-left: 0;
    }

    .peragraph-video p {
        padding: 1rem 0;
        padding-top: 1.5rem;
    }

    .buttons-shows {
        padding-left: 0;
    }

    .showSkill {
        padding: 0;
    }

    .current-skills {
        padding: 0;
    }

    .chart-for-allSkill {
        padding: 0;
    }

    .this-skills {
        padding: 0;
    }

    .certifickteRowProject {
        padding: 0;
    }

    .mainShowCertificketsProject {
        padding: 0;
    }


    .certifi-col2 {
        width: 100%;
        margin: .5rem 0;
        padding: 0;
    }

    .boxCerHH {
        margin-top: 0;
        width: 100%;
    }

    .GotFrom {
        padding: 0;
    }

    .showButtonCer {
        padding: 0;
    }

    .summaryCer {
        padding: 0;
    }

    .ifProject {
        width: 100%;
    }

    .showCertificate {
        padding: 1rem 1.2rem;
        padding-top: 0;
    }

    .showProject {
        padding: 0;
    }

    .video-project-box {
        margin-top: 0;
    }

    .boxChartBox {
        width: 92%;
    }

    .button-66 {

        padding: .9rem;
    }

    .forCerti88{
        width: 100%;
    }

}